
.header{
    height: 100px;
    background-color: black;
    color: white;
    line-height: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

.mainbody{
    background-color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    padding: 15px;
  }

.footer{
    background-color: lightblue;
    color: black;
    height: 20px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    left: 5px;
}

a{
    color: black;
    text-decoration: none;
}


nav {
    background-color: lightblue;
    padding: 10px;
    overflow: hidden;
  }

nav a{
    float: left;
    color: black;
    padding: 10px 13px;
    text-decoration: underline;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

img{
    display: block;
    width: 25%;
}

ol{
    list-style-position: inside;
}

ul{
    list-style-position: inside;
}

.tableau{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.common{
    text-align: center;
}

img{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}